<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tables</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="menu">
    <ul>
        <li class="home"><a href="http://localhost:8080">Home</a></li>
        <li class="tables"><a href="documents">Tables</a></li>
    </ul>
    <!--<file class="load-button">Upload XML</file>  changed button text -->

</div>

    <div th:action="@{/documents}" class="tiendafecha">
        <form id="fechatienda">
            <label for="text-input">Enter Store:</label>
            <input type="text" th:name="idStore" id="text-input" name="text-input"><br>

            <label for="date-input">Enter date:</label>
            <input type="date" th:name="date" id="date-input" name="date-input" min="2023-01-01" max="2023-12-31" required><br>

            <input type="submit"  value="Submit">
        </form>
    </div>



<div class="general">
    <div id="mainTable">
        <table class="styled-table" id="tableId" >
            <thead>
                <tr>
                    <th>id</th>
                    <th> uid </th>
                    <th> Store </th>
                    <th>Caja </th>
                    <th> Session  </th>
                    <th> Date </th>
                    <th> Operation </th>
                    <th> Shop Assistant </th>
                    <th> Descripción </th>


                </tr>
            </thead>
            <tbody>

                <tr th:if="${documents.empty}">
                    <td colspan="2"> No Documents Available </td>
                </tr>
                <tr align="center" th:each="document : ${documents}">
                    <td th:text="${document.id}">id </td>
                    <td><span th:text="${document.uid}"> uid </span></td>
                    <td><span th:text="${document.idStore}"> id Store  </span></td>
                    <td><span th:text="${document.idWorkstation}"> id Workstation </span></td>
                    <td><span th:text="${document.sessionDate}"> Session Date </span></td>
                    <td><span th:text="${document.date}"> Ticket Date </span></td>
                    <td><span th:text="${document.operationNumber}"> Operation Number  </span></td>
                    <td><span th:text="${document.idOperator}"> Id Operator </span></td>
                    <td><span th:text="${document.documentType.description}">Descripción</span></td>
                </tr>

            </tbody>

        </table>
    </div>
    <div id="mainFooter">
        <footer style="font-size: large" class="pagination">

            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{'/documents/page/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
            </span>
        </footer>
    </div>

</div>


<br><br>
<div id="container"></div>
<br><br>
<div id="container2"></div>
<br><br>
<div>

    <form th:if="${!documents.empty}" class="botonesResumen" th:action="@{/resumen}">
        <input hidden type="text" th:value="${documents[0].idStore}" name="idStore"/>
        <input hidden type="text" th:value="${#strings.substring(documents[0].sessionDate,0,10)}" name="date"/>
        <button class="load-button" type="submit" >Resumen de ventas</button>

    </form>
    <form th:if="${!documents.empty}" class="botonesResumen" th:action="@{/generateDocuments}">
        <input hidden type="text" th:value="${documents[0].idStore}" name="idStore"/>
        <input hidden type="text" th:value="${#strings.substring(documents[0].sessionDate,0,10)}" name="date"/>
        <button id="button-docs" class="load-button" type="submit" >Generar transacciones contables</button>

    </form>
</div>


</body>
</html>

<script>

//Función para generar dos tablas, una con las lineas de productos y otra con los pagos de cada documento
function generateTables(jsonLines,jsonPayments) {

  let container = document.getElementById("container");
  container.replaceChildren();

if(Object.keys(jsonLines).length !== 0){
  let tableLines = document.createElement("table");
  let cols = Object.keys(jsonLines[0]);
  let thead = document.createElement("thead");
  let tr = document.createElement("tr");
  tr.setAttribute("bgcolor","gray");

  cols.forEach((item) => {
     let th = document.createElement("th");
     if(item==='productType'){
     th.innerText = 'Descripción';
     }else{
     th.innerText = item;
     }

     tr.appendChild(th);
  });
  thead.appendChild(tr);
  tableLines.append(tr)

  jsonLines.forEach((item) => {
     let tr = document.createElement("tr");
     let vals = Object.values(item);
       for(var i=0;i<vals.length;i++){
        let td = document.createElement("td");
        //En la posición 12, hay un objeto Json del que solo queremos la descripción. El resto soon texto.
          if(i===12){
          td.innerText = vals[i].description;
          }else{
          td.innerText = vals[i];
      }
        tr.appendChild(td);
     }
     tableLines.appendChild(tr);
     tableLines.setAttribute("border", "1");
     tableLines.setAttribute("class", "styled-table");
     tableLines.setAttribute("bgcolor", "pink");
  });
  container.appendChild(tableLines)

}



     let container2 = document.getElementById("container2");
container2.replaceChildren();
if(Object.keys(jsonPayments).length !== 0){
let tablePayments = document.createElement("table");
let cols2 = Object.keys(jsonPayments[0]);
let thead2 = document.createElement("thead");
let tr2 = document.createElement("tr");
tr2.setAttribute("bgcolor","gray");

cols2.forEach((item) => {
   let th2 = document.createElement("th");
   if(item==='paymentMedia'){
   th2.innerText = 'Descripción';
   }else{
   th2.innerText = item;
   }
   tr2.appendChild(th2);
});
thead2.appendChild(tr2);
tablePayments.append(tr2)

jsonPayments.forEach((item) => {
   let tr2 = document.createElement("tr");
   let vals2 = Object.values(item);

   for(var i=0;i<vals2.length;i++){
      let td2 = document.createElement("td");
      //En la posición 6 hay un objeto Json del que queremos la descripción, el resto son texto
      if(i===6){
        td2.innerText = vals2[i].description;
        }else{
        td2.innerText = vals2[i];
    }
      tr2.appendChild(td2);
   }
   tablePayments.appendChild(tr2);
   tablePayments.setAttribute("border", "1");
   tablePayments.setAttribute("bgcolor", "yellow");
   tablePayments.setAttribute("class", "styled-table");
});
container2.appendChild(tablePayments)
}
}
function addRowHandlers() {
var table = document.getElementById("tableId");
var rows = table.getElementsByTagName("tr");
for (i = 0; i < rows.length; i++) {
var currentRow = table.rows[i];
var createClickHandler =
function(row)
{
return async function() {
var cell = row.getElementsByTagName("td")[0];
var id = BigInt(cell.innerHTML);
const url_lines = '/api/v1/lines/'+id
const url_payments = '/api/v1/payments/'+id
response_lines = await fetch(url_lines)
console.log(response_lines)
var lines = await response_lines.json();
response_payments = await fetch(url_payments)
console.log(response_payments)
var payments = await response_payments.json();


generateTables(lines,payments);

};
};

currentRow.onclick = createClickHandler(currentRow);
}
}
window.onload = addRowHandlers();
</script>
