<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Home</title>

</head>
<body>
<div class="menu">
    <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="tables"><a href="documents">Tables</a></li>
    </ul>
    <!--<file class="load-button">Upload XML</file>  changed button text -->

</div>
<div class="content">
    <h1>Bienvenido al gestor de tickets online</h1>


    <div>
        <p>Con el siguiente botón puedes cargar todos los documentos que estén almacenados en la ruta src/resources/xml_stores</p>

        <button id="load-all" class="load-button">Load all</button>
    </div>
    <div>
        <p>Con el siguiente botón puedes eliminar todos los documentos almacenados en la base de datos</p>
        <button id="delete-all" class="load-button">Delete all</button>
    </div>
    <div id="loading" style="visibility: hidden">
        <img id="loading-image"  src="Loading_icon.gif" alt="Loading..." />
    </div>
</div>

</body>
</html>





<script>
  const btnAll = document.getElementById("load-all"); // obtenemos el botón por su ID
  const btnOne = document.getElementById("load-one");
  const btnDlt = document.getElementById("delete-all");
  const spinner = document.getElementById("loading");

btnAll.addEventListener("click", function() { // agregamos un event listener al botón para detectar su click
  const xhr = new XMLHttpRequest(); // creamos una instancia del objeto XMLHttpRequest

  spinner.style.visibility = 'visible';

  xhr.open("GET", "http://localhost:8080/api/v1/savefolder"); // establecemos la URL a la que vamos a hacer la petición GET

  xhr.onload = function() { // definimos lo que sucede cuando se completa la petición
    if (xhr.status === 201) { // comprobamos si el código de respuesta es 200 (OK)
    spinner.style.visibility = 'hidden'
      alert("Ficheros almacenados con éxito"); // mostramos una alerta si la respuesta es satisfactoria
    } else { // si la respuesta no es satisfactoria
    spinner.style.visibility = 'hidden'
      alert("Ha habido un error"); // mostramos una alerta con un mensaje de error
    }
  };

  xhr.send(); // enviamos la petición GET
});


btnDlt.addEventListener("click", function() {
var result = confirm("Estás seguro de que deseas eliminar todos los documentos?");
    if (result) {
      const xhr = new XMLHttpRequest();

      spinner.style.visibility = 'visible';

      xhr.open("DELETE", "http://localhost:8080/api/v1/deleteall");

      xhr.onload = function() {
        if (xhr.status === 200) {
        spinner.style.visibility = 'hidden'
          alert("Ficheros eliminados con éxito");
        } else {
        spinner.style.visibility = 'hidden'
          alert("Ha habido un error");
        }
      };

      xhr.send();
    }
});

</script>